/*--- Importar fuentes e iconos ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Variable */
:root{
    --ancho-maximo: 1024px;
}

/*--- Etiquetas globales ------------------------*/

/* Propiedades generales */

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #F3F3F3;
}
ul {list-style-type: none;}

body {
    font-family: 'Roboto', sans-serif; 
}

.container {
    max-width: var(--ancho-maximo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/*--- HEADER --------------------------------- */

/* TOP */
.header-top {
    background-color: #222222;
    color: #F3F3F3;
    font-size: 0.625rem;
    padding: 0.25rem;
}

.menu-top {
    display: flex;
    gap: 1rem;
}

.nav-menu { 
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.logo { 
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 1rem;
}

/* BOTTOM */
.header-bottom {
    background-color: #F0A83E;
}

/* Logo */


h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-block-end: 0.25rem;
}

h1 .logo-front {
    color: #3C2313;
}

h1 .logo-cat-and-dog {
    color: #FFFFFF;
}

/*  Menu  */
.nav-menu a {
    color: #FFFFFF;
    font-size: 0.85rem;
}

.hamburger-btn {
    display: none;
}
/*--- MAIN ----------------------------------*/

/* Seccion Banner */
.banner {
    background: #89d0a5 url("../img/bowl-and-pet-daities-on-green-background-1.png") no-repeat;
    background-size: cover;
    background-position:center;
    height: 28rem;
}

.banner-container {
    max-width: var(--ancho-maximo);
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.banner-text {
    position: absolute;
    right: 1rem;
    top: calc(50% - 4.5rem);
    display:flex;
    flex-direction: column;
    align-items: center;
}
.banner h2 {
    color: #3C2313;
    background-color: #FFFFFF;
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 5px;

}

.banner p {
    color: #3C2313;
    font-size: 1rem;
    padding: 1rem;
}

.banner a {
    font-size: 1rem;
    color: #FFFFFF;
    background-color: #F0A83E;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    display: inline-block;
}

/* Seccion Productos */
.productos {
    max-width: var(--ancho-maximo);
    margin: 0 auto;
    padding: 1rem;
}

/* TOP */
.productos-top {
    text-align: center;
    padding: 1.25rem;
}
.productos-top h2 {
    color: #3C2313;
    font-size: 40px;
    font-weight: bold;
}
.productos-top p { 
    color: #666666;
    font-size: 1rem;
    padding: 1.25rem;
}

/* Cards */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    
}
.card {
    background-color: #FBFAF6;
    color: #F0A83E;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0.4rem;
}

.card h3 {
    color: #3C2313;
}

/* Seccion Contacto */
.contacto {
    max-width: var(--ancho-maximo);
    margin: 0 auto;
    padding: 1rem;
}

.formulario {

    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;


}

.formulario>label {
    color:#3C2313;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

input {
    border: 0;
    width: 340px;
    height: 40px;
    background-color: #3C2313;
    color:#FFFFFF;
    border-radius: 15px;
    padding: 10px;
}

input:focus{
    outline: none;
    background-color: #724d35;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
    border: solid #F0A83E 3px;
}

button {
    width: 110px;
    height: 34px;
    border-radius: 15px;
    background-color:#F0A83E;
    color:#FFFFFF;
    border: 0;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

.reset {
    background-color:#8A8787;
}


.form-botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding:41px;
}

/*--- FOOTER --------------------------------------*/

.footer-top {
    background-color: #3C2313; 

}


.footer-datos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}

.footer-dato {
    display: flex;
    align-items: center;
}

.footer-dato > div {
    padding: 1rem;
    font-weight: bold;
}

.icono {
    font-size: 2rem;
    color: white;
    border: 0.25rem solid #786960;
    height: 4rem;
    width: 4rem;
    padding: 0.8rem;
    text-align: center;
    background-color: #8a8787;
    border-radius: 50%;
    background-image: linear-gradient( to bottom, #ceb5a6, #413733 ); 
}

.footer-dato h2 {
    color: #FFFFFF;
    font-size: 1.25rem;
}

.footer-dato p {
    color: #8A8787;
    font-size: 0.625rem;
}

.footer-dato a {
    color: #8A8787
}

.footer-logo {
    font-weight: bold;
    padding: 1.25rem;
}

.footer-logo a {
    font-size: 20px;

}

.footer-logo a .logo-front {
    color: #FFFFFF;
}

.footer-logo a .logo-cat-and-dog {
    color: #F0A83E;
}

.footer-bottom {
    background-color: #222222;
}

.footer-bottom p {
    color: #FFFFFF;
    font-size: 0.625rem;
    text-align: center;
    font-weight: bold;
    padding: 0.25rem;
}

@media screen and (max-width: 480px) {

    .header-top {
        display: none;
    }   

    .hamburger-btn{
       display:initial;
       color: #FFFFFF;
       font-size: 0.85rem;
       padding: 1rem;
    }

    .nav-menu {
       display:none;
    }

    .banner h2 {
        font-size: 1.5rem;
    }

    .banner-text {
        position: initial;
        padding-top: 9rem;
   }
   .banner {
   background-position-x: -40px;
   }
   
   .footer-top>.container {
    flex-direction: column;
}
.footer-logo {
    order: -1;
}

}

